@font-face {
    font-family: bahnschrift;
    src: url(/fonts/bahnschrift.ttf);
}
*{
    margin: 0;
    padding: 0;
}

p, h1{
    color:white;
    font-family: bahnschrift;
}

a {
    color: white;
    font-family:bahnschrift;
    font-size: 25px;
}

body {
    background: #190121;
    background-image: url(/images/backgroundeje.png);
    background-repeat: repeat;
    background-size: 10%;
}

header{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.logo, .top_menu_style {
    margin: 25px;
    display: inline-block;
    vertical-align: middle;
}

.top_menu_style li{
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
}

.top_menu_style a{
    vertical-align: middle;
    font-family: bahnschrift;
    font-size: 30px;
    color:#8c2d8f;
    text-decoration: none;
    transition-property: font-size;
    transition-duration: 0.5s;

}
.top_menu_style a:hover {
    font-size: 40px;
}

.top_menu_style a:hover{
    color:#460479;
}

.logo h1{
    font-family:bahnschrift;
    font-size: 30px;
    vertical-align: middle;
}

.logo a{
    color:#8c2d8f;
    text-decoration: none;
}

.logo a:hover{
    color:white;
}

.centered{
    display: flex;
    justify-content: center;
}

.padding {
    margin-left: 10%;
    margin-right: 10%;
}

.lined {
    margin: 25px;
    display: inline-block;
    vertical-align: middle;
}

.hovered a:hover {
    color:#8c2d8f;
    font-size: 35px;

}