@font-face {
    font-family: bahnschrift;
    src: url(/fonts/bahnschrift.ttf);
}


*{
    margin: 0;
    padding: 0;
}
body {
    background: #150e10;
}
header{
    display: flex;
    justify-content: center;
}
.logo, .top_menu_style {
    margin: 25px;
    display: inline-block;
    vertical-align: middle;
}
.top_menu_style li{
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
}
.top_menu_style a{
    vertical-align: middle;
    font-family: bahnschrift;
    font-size: 30px;
    color: #4f5a64;
    text-decoration: none;
}
.top_menu_style a:hover{
    color:#77888c;
}
.logo h1{
    font-family:bahnschrift;
    font-size: 30px;
    vertical-align: middle;
}
.logo a{
    color: #4f5a64;
}
.logo a:hover{
    color:#77888c;
}

.centered{
    display: flex;
    justify-content: center;
}